<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie ie8 gtie7 ltie11 ltie10 ltie9" lang="pt-br" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 9]>         <html class="ie ie9 gtie7 gtie8 ltie11 ltie10" lang="pt-br" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 9]><!--><html class="gtie9" lang="pt-br" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <meta name="robots" content="noindex,nofollow" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="theme-color" content="#1190cd" />
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-title" content="<%= htmlWebpackPlugin.options.title %>">

        <meta name="author" content="@guicheffer" />
        <meta name="description" content="A special case of study ~only-view-way~ which you can search for announcements of properties." />

        <title><%= htmlWebpackPlugin.options.title %></title>

        <link rel="canonical" href="http://spotippos-guicheffer.herokuapp.com/" />
        <link rel="alternate" hreflang="dev" href="http://localhost:3001/" />

        <link rel="stylesheet" href="./styles/base.css" />
    </head>

    <body class="spotippos spotippos-base">

        <div class="container container-base" role="presentation">

            <div class="wrapper wrapper-base grid" role="main">

                <div id="app-spotippos"></div>

                <div class="row">
                    <footer class="col-xs-12" role="contentinfo">
                        <p>Copyright &copy; 2016, <a href="https://github.com/guicheffer/spotippos/">Spotippos</a> Inc. - <a href="http://vivareal.com.br/" target="_blank">Viva Real</a>. Todos os direitos reservados.</p>
                    </footer>
                </div>

            </div>

        </div>

        <script async src="./scripts/base.js"></script>
    </body>
</html>
