/*
 * "Spotippos form"
 * https://github.com/guicheffer/cheffplate
 * Author: Joao Guilherme (@guicheffer)
 * Date: 09/2016
 */


/*==============================================================================
  form
  ============================================================================*/

.container-filter
  $local-spacing = $page-box-padding

  position relative

  .title
    padding $local-spacing
    padding-bottom 0
  .errorMsg
    top 0
    right 0
    position absolute
    font-size remify(12px)
    color var(--errorColor)
    margin $local-spacing
  .warning-enter
    font-size remify(12px)
    font-weight 700
    line-height remify(20px)
    span
      text-decoration underline
      font-weight 700

.form-group
  $local-input-height = 36px

  display inline-block
  width 45%
  margin 0 5% 0 0
  font-size remify(12px)

  &.group-100
    width 100%
  label
    color $gray-label
    text-transform uppercase
    line-height remify($halfrem * 2)
  input
    width 100%
    display block
    margin remify(2px) 0
    border-radius remify(2px)
    border solid 1px $gray-border
    height remify($local-input-height)
    line-height remify($local-input-height)
    font-family 'Open Sans'
    font-size remify($local-input-height / 3)
    font-weight normal
    padding-left remify(5px)
    transition background .2s linear
    &[disabled]
      background $gray-blur
      filter blur(1px)
  textarea
    width 97%
    box-sizing border-box
    display block
    margin remify(5px) 0
    border-radius remify(2px)
    border solid 1px $gray-border
    font-family 'Open Sans'
    font-size remify($local-input-height / 3)
    font-weight normal
    padding remify(8px)
    resize vertical
    &[disabled]
      background $gray-textarea-blur
      filter blur(1px)
.btn
  min-width remify(20px)
  height remify(32px)
  border-radius remify(2px)
  box-shadow inset 0 remify(-1px) 0 0 rgba(0, 0, 0, 0.12)
  box-sizing border-box
  padding remify(5px) remify(10px)
  text-transform uppercase
  text-decoration none
  font-size 1vw
  color $white !important
  background $blue
  &.btn-primary
    background-color $btn-default-background-color !important
    &:hover
      background-color darken($btn-default-background-color, 10%) !important
    &:active
      background-color darken($btn-default-background-color, 20%) !important


/* =============================================================================
   Media Customized
   ========================================================================== */

@media $media-query-tablet
  .container-filter
    padding-top 0 !important
  .form-group
    input
      width 90%