/*
 * "Global Variables"
 * cheffplate! - ./includes/variables
 * https://github.com/guicheffer/cheffplate
 * Author: Joao Guilherme (@guicheffer)
 * Date: 09/2016
 */

/*==============================================================================
	Global Variables
  ============================================================================*/

/* .......................................
	Utils
  ......................................*/
$default-font-size = $halfrem
$lighter-percent = 15%
$stronger-percent = 85%
$text-visually-hidden = -9999px
$halfrem = 8px
$max-sidebar-width = 110px
$sidebar-height = 90vh
$page-box-padding = remify(20px) remify(15px)

/* .......................................
	Colors: http://chir.ag/projects/name-that-color/
  ......................................*/
$black = #000
$white = #fff
$white-five = #f9f9f9
$white-d = #f9f9f9
$red = #ca2a2a
$gray = #ccc
$gray-spotippos = #f1f1f1
$gray-bg = #e5e5e4
$gray-default = #666
$gray-label = #999
$gray-border = #979797
$gray-title = #444
$gray-card = #fafafa
$gray-blur = #e4e4e4
$gray-textarea-blur = #e4e4e4
$blue = #00f
$water-blue = #1190cd
$azure = #00acff
$azure-hover = #006ca0
$twilight-blue = #094e6e
$yellow = #ff0
$pale-canary = #ff9

:root
  --errorColor $red

/* --- Attributes Applied --- */
$main-background-color = $gray-spotippos
$main-container-background-color = $gray-bg
$header-background-color = $water-blue
$vivareal-background-color = $azure
$sidebar-background-color = $twilight-blue
$sidebar-item-background-color = $azure
$sidebar-item-background-color-hover = $azure-hover
$dashboard-color-default = $azure
$btn-default-background-color = $azure
$page-box-filters-background-color = $white-five
$page-box-results-background-color = $white
$page-box-results-tablet-background-color = $white-d
$footer-background-color = $water-blue

/* .......................................
	Default sizes and values
  ......................................*/
$default-font-general = 'Roboto Condensed', 'Open Sans', sans-serif
$default-font-size-app = remify($default-font-size * 2)
$default-background-position = 50% 50%
$default-width-window = remify(1440px)
$default-min-width-wrapper = remify(320px)
$default-width-window-wrapper = 100%
$default-max-width-wrapper = $default-width-window

/* .......................................
	Grid settings
  ......................................*/
$breakpoints = {
  'xs' :  0,
  'sm' : 560px,
  'md' : 768px,
  'lg' : 990px,
  'xl' : $default-width-window
}
$columns = 12

/* .......................................
	Media Queries
  ......................................*/
$media-query-any-retina-display = 'only screen and (-webkit-min-device-pixel-ratio: 1.5) or (min--moz-device-pixel-ratio: 1.5) or (min-resolution: 240dpi)'
$media-query-big-desktop-screen = 'only screen and (min-width: 1441px)'
$media-query-min-normal-desktop-screen = 'only screen and (min-width: 1301px)'
$media-query-normal-desktop-screen = 'only screen and (max-width: 1300px)'
$media-query-medium-desktop-screen = 'only screen and (min-width: 1150px)'
$media-query-weak-desktop-screen = 'only screen and (max-width: 900px)'
$media-query-desktop = 'only screen and (min-width: 769px) and (max-width: 1260px)'
$media-query-min-desktop = 'only screen and (min-width: 769px)'
$media-query-tablet = 'only screen and (max-width: 768px)'
$media-query-tablet-min = 'only screen and (min-width: 561px)'
$media-query-mobile = 'only screen and (max-width: 560px)'
$media-query-mobile-common = 'only screen and (max-width: 480px)'
$media-query-mobile-min = 'only screen and (max-width: 320px)'
$media-query-mobile-wide = 'only screen and (min-width: 480px) and (max-width: 568px)'
