/*!
 * "Base for Spotippos"
 *
 * -> Viva Real Assignment: Spotippos
 *
 * -> Inspired on "cheffplate" (boilerplate version made by me [@guicheffer])
 *
 * cheffplate! - ./base
 * https://github.com/guicheffer/cheffplate
 * Author: Joao Guilherme (@guicheffer)
 * Date: 09/2016
 *
 * Custom page used for all kinda pages on spotippos thingy;
 *
 */

/*==============================================================================
	Common Guide
  ============================================================================*/

@import 'common/common'

/*==============================================================================
	Fonts
  ============================================================================*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600')


/*==============================================================================
	Local Variables
  ============================================================================*/

$default-width-window-local-base = $default-width-window-wrapper

/*==============================================================================
	Base Style
  ============================================================================*/

/* .......................................
	General Style
  ......................................*/
@import 'common/general'

/* .......................................
	Common sprite
  ......................................*/
@import 'includes/sprites/sprite-base.css'

.sprt
	background-repeat no-repeat
	background-position $default-background-position

/* .......................................
	Default
......................................*/
.container
	clear both
.container-base
	display-flex()
	flex-direction column
	background-color $main-container-background-color


.wrapper
	clear both
	margin 0 auto
	position relative
	width $default-width-window-local-base
	max-width $default-max-width-wrapper
.wrapper-base
	background $main-background-color
	min-height 100vh
	padding-top remify($one_rem * 2)

/* .......................................
	Divisor
  ......................................*/
hr, .divisor
	height remify(10px)
	margin-top remify(20px)
	border-top remify(3px) dashed $black


/*==============================================================================
	Master
  ============================================================================*/

/* .......................................
	Header
  ......................................*/

@import 'common/header'

/* .......................................
	Content
  ......................................*/

.spotippos-content
	// padding-top remify($one_rem)


/* .......................................
	Footer
  ......................................*/

@import 'common/footer'

/* =============================================================================
   Media Customized
   ========================================================================== */

@media $media-query-tablet
	*
		user-select(none)

	input, input:before, input:after, iframe
		user-select(initial)


/* =============================================================================
	Hacks (only those which are needed)
   =========================================================================== */

/* .......................................
	IEs
  ......................................*/
html.ie
	.accessibility-aid
		display none
