/*!
 * "Base for Spotippos"
 *
 * -> Viva Real Assignment: Spotippos
 *
 * -> Inspired on "cheffplate" (boilerplate version made by me [@guicheffer])
 *
 * cheffplate! - ./base
 * https://github.com/guicheffer/cheffplate
 * Author: Joao Guilherme (@guicheffer)
 * Date: 09/2016
 *
 * Custom page used for all kinda pages on spotippos thingy;
 *
 */

/*==============================================================================
	Common Guide
  ============================================================================*/

@import 'common/common'

/*==============================================================================
	Fonts
  ============================================================================*/

@import 'includes/fonts/roboto+condensed'
@import 'includes/fonts/open+sans+semibold'


/*==============================================================================
	Local Variables
  ============================================================================*/

$default-width-window-local-base = $default-width-window-wrapper

/*==============================================================================
	Base Style
  ============================================================================*/

/* .......................................
	General Style
  ......................................*/
@import 'common/general'

/* .......................................
	Common sprite
  ......................................*/
@import 'includes/sprites/sprite-base.css'
@import 'includes/sprites/sprite-content.css'

.sprt
	background-repeat no-repeat

/* .......................................
	Default
......................................*/
.container
	clear both
.container-base
	display-flex()
	flex-direction column
	background-color $main-container-background-color


.wrapper
	clear both
	margin 0 auto
	position relative
.wrapper-base
	width $default-width-window-local-base
	max-width $default-max-width-wrapper
	min-width $default-min-width-wrapper
	padding-top remify($halfrem * 2)
	background $main-background-color
	min-height 100vh

/* .......................................
	Divisor
  ......................................*/
hr, .divisor
	height remify(10px)
	margin-top remify(20px)
	border-top remify(3px) dashed $black


/*==============================================================================
	Master
  ============================================================================*/

/* .......................................
	Header
  ......................................*/

@import 'common/header'

/* .......................................
	Content
  ......................................*/

/* ```````````````````
	Sidebar
  ´´´´´´´´´´´´´´´´´´´´*/
@import 'includes/components/sidebar'

/* ```````````````````
	Container content
  ´´´´´´´´´´´´´´´´´´´´*/
@import 'includes/components/container-content'


/* ```````````````````
	Filters box
  ´´´´´´´´´´´´´´´´´´´´*/
@import 'includes/components/form'

/* ```````````````````
	Container Results
  ´´´´´´´´´´´´´´´´´´´´*/
@import 'includes/components/results'

/* .......................................
	Footer
  ......................................*/

@import 'common/footer'

/*==============================================================================
	Media Customized
  ============================================================================*/

@media $media-query-tablet
	*
		user-select(none)

	input, input:before, input:after, iframe
		user-select(initial)

	.wrapper-base
		background $white


/* =============================================================================
	Hacks (only those which are needed)
   =========================================================================== */

/* .......................................
	IEs
  ......................................*/
html.ie
	.accessibility-aid
		display none
