/*
 * "Footer style for boilerplate"
 * cheffplate! - ./base/header
 * https://github.com/guicheffer/cheffplate
 * Author: Joao Guilherme (@guicheffer)
 * Date: 09/2016
 */

/*==============================================================================
	Local Variables
  ============================================================================*/

$height-header = 30px

/*==============================================================================
	Footer
  ============================================================================*/

footer
  position absolute
  bottom 0
  box-sizing border-box
  text-align right
  background $footer-background-color
  font-weight normal
  color $white
  cursor default

  p
    font-family 'Open Sans'
    font-size remify(12px)
    line-height remify(30px)
    padding remify(2px) remify($halfrem * 4) remify(2px)
  a
    letter-spacing remify(2px)
    margin 0 remify(3px)


/*==============================================================================
  Media Customized
  ============================================================================*/

@media $media-query-tablet
  footer
    position fixed
    p
      line-height remify(25px)
      white-space nowrap
      font-size remify(9px)
