/*
 * "Header style for boilerplate"
 * cheffplate! - ./base/header
 * https://github.com/guicheffer/cheffplate
 * Author: Joao Guilherme (@guicheffer)
 * Date: 09/2016
 */

/*==============================================================================
	Local Variables
  ============================================================================*/

$height-header = 60px

/*==============================================================================
	Header
  ============================================================================*/

header
  width 100%
  height auto

  *[class^='nav-header-']
    height 100%
  .nav
    height remify($height-header)
    background-color $header-background-color
    position relative
  .nav-header-subtitle
    $local-max-width = $max-sidebar-width

    max-width remify($local-max-width)
    background-color $vivareal-background-color
    background-size 40%
    position relative

    .icon
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
  .nav-header-title
    line-height $height-header
    color $white
    vertical-align middle
    text-transform uppercase
    font-size 2vw
    font-weight 700
    padding-left 3%
    cursor default

/* .......................................
	Media queries
  ......................................*/

@media $media-query-tablet
  header
    .nav-header-title
      font-size 3.5vw

@media $media-query-mobile
  header
    .nav-header-subtitle
      background-size 50%

@media $media-query-mobile-common
  header
    .nav-header-title
      font-size remify(18px)
